<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="//127.0.0.1:5001/css/index.css">
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="//127.0.0.1:5001/jsdev/index.js"></script>
</html>
